extends ./layout/index
block contenido
    main.container.mt-5 
        .row 
            .col-md-5
                img(src="img/nosotros.jpg", alt="Imagen sobre nosotros", class='img-fluid')
            .col-md-7
                h1 #{pagina}
                blockquote Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Enim lobortis scelerisque fermentum dui faucibus in ornare quam. Imperdiet nulla malesuada pellentesque elit eget gravida cum. A diam maecenas sed enim ut sem viverra aliquet. Blandit massa enim nec dui nunc mattis. 
                p Quis vel eros donec ac odio tempor. In fermentum posuere urna nec. Ipsum faucibus vitae aliquet nec ullamcorper sit amet risus nullam. Mauris rhoncus aenean vel elit scelerisque. Aenean pharetra magna ac placerat vestibulum lectus mauris ultrices eros. Varius morbi enim nunc faucibus a pellentesque sit amet porttitor. Vulputate sapien nec sagittis aliquam.
                p Faucibus vitae aliquet nec ullamcorper sit amet risus nullam eget. At tellus at urna condimentum mattis pellentesque. Eu consequat ac felis donec et odio pellentesque. Vitae et leo duis ut diam quam. Ante metus dictum at tempor commodo ullamcorper a lacus vestibulum. Velit ut tortor pretium viverra suspendisse. Suspendisse faucibus interdum posuere lorem ipsum.
    .listado-iconos
        .container.mt-5.py-5.text-center
            .row
                .col-md-4
                    img(src="img/icono_seguridad.svg", alt="Icono seguridad" class="img-fluid mb-4")
                    h2.mb-4 Seguridad 
                    p Eu consequat ac felis donec et odio pellentesque. Vitae et leo duis ut diam quam. Ante metus dictum at tempor commodo ullamcorper a lacus vestibulum. Velit ut tortor pretium viverra suspendisse. Suspendisse faucibus interdum posuere lorem ipsum.
                .col-md-4
                    img(src="img/icono_destinos.svg", alt="Icono destinos" class="img-fluid mb-4")
                    h2.mb-4 Mejores destinos 
                    p Eu consequat ac felis donec et odio pellentesque. Vitae et leo duis ut diam quam. Ante metus dictum at tempor commodo ullamcorper a lacus vestibulum. Velit ut tortor pretium viverra suspendisse. Suspendisse faucibus interdum posuere lorem ipsum.
                .col-md-4
                    img(src="img/icono_precios.svg", alt="Icono precios" class="img-fluid mb-4")
                    h2.mb-4 Los mejores precios 
                    p Eu consequat ac felis donec et odio pellentesque. Vitae et leo duis ut diam quam. Ante metus dictum at tempor commodo ullamcorper a lacus vestibulum. Velit ut tortor pretium viverra suspendisse. Suspendisse faucibus interdum posuere lorem ipsum.    